main {
	position: relative;
	display: grid;
	grid-template-columns: 20% 80%;
	height: 100%;
}

#main-content {
	background-color: rgba(0, 0, 0, 0.025);
}

.module {
	border: 2px solid grey;
	border-radius: 5px;
}

.module-img-wrapper {
	max-width: 50%;
	margin: auto;
}

.module-img {
	width: 100%;
	height: auto;
}

.module-box, .module-btn-wrapper {
	text-decoration: none;
}

.module-box:hover {
	cursor: pointer;
}

.module-dropdown-btn {
	float: right;
}

.content img {
	border-radius: 5px;
}